$mn_primary: #575c7a;

$mn_pgColor: #fff;
$mn_h1Color: #a6430a;
$mn_a_Color: #de9000;
$mn_ahColor: #009eff;
$mn_ftColor: #9ba0bd;
$mn_naColor: #f5a06e;

$sml_nvColor: #515673;
$sml_naColor: #a6abc5;
$sml_ahColor: #fff;

$sml_pbtAttr: 1px solid #ccc;
$sml_fbtAttr: 1px solid #a6abc5;
